In [10]:
library(data.table)
library(skimr)
library(mltools)

# Load data -----
# Note: here we assume that the data extraction and integration is
# already done.
dev <- fread('data/application_train.csv', stringsAsFactors = FALSE)
names(dev) <- tolower(names(dev))
descr <- fread('data/HomeCredit_columns_description.csv', stringsAsFactors = FALSE)
descr <- descr[Table == 'application_{train|test}.csv', ]

In [11]:
# Data exploration
skim_dev <- data.table(skim(dev))

In [12]:
# Quickly explore character variables ----
cols <- unique(skim_dev[skim_dev$type == 'character']$variable)
# We drop two flags from the list (see later)
cols <- cols[!(cols %in% c('flag_own_realty','flag_own_car'))]
skim_dev_chr <- data.table()
for(i in cols){
  r <- dev[, .(.N), by = i]
  names(r)[1] <- "value"
  r$var <- i
  skim_dev_chr <- rbind(skim_dev_chr, r[,.(var, value, N)])
}
skim_dev_chr

    var                 value                         N
1   name_contract_type  Cash loans                    278232
2   name_contract_type  Revolving loans                29279
3   code_gender         M                             105059
4   code_gender         F                             202448
5   code_gender         XNA                                4
6   name_type_suite     Unaccompanied                 248526
7   name_type_suite     Family                         40149
8   name_type_suite     Spouse, partner                11370
9   name_type_suite     Children                        3267
10  name_type_suite     Other_A                          866
11  name_type_suite                                     1292
12  name_type_suite     Other_B                         1770
13  name_type_suite     Group of people                  271
14  name_income_type    Working                       158774
15  name_income_type    State servant                  21703
16  name_income_type    Commercial associate           71617
17  name_income_type    Pensioner                      55362
18  name_income_type    Unemployed                        22
19  name_income_type    Student                           18
20  name_income_type    Businessman                       10
21  name_income_type    Maternity leave                    5
22  name_education_type Secondary / secondary special 218391
23  name_education_type Higher education               74863
24  name_education_type Incomplete higher              10277
25  name_education_type Lower secondary                 3816
26  name_education_type Academic degree                  164
27  name_family_status  Single / not married           45444
28  name_family_status  Married                       196432
29  name_family_status  Civil marriage                 29775
30  name_family_status  Widow                          16088
⋮   ⋮                   ⋮                             ⋮
113 organization_type   Legal Services                   305
114 organization_type   Advertising                      429
115 organization_type   Trade: type 5                     49
116 organization_type   Cleaning                         260
117 organization_type   Industry: type 13                 67
118 organization_type   Trade: type 4                     64
119 organization_type   Telecom                          577
120 organization_type   Industry: type 8                  24
121 organization_type   Realtor                          396
122 organization_type   Industry: type 6                 112
123 fondkapremont_mode  reg oper account               73830
124 fondkapremont_mode                                210295
125 fondkapremont_mode  org spec account                5619
126 fondkapremont_mode  reg oper spec account          12080
127 fondkapremont_mode  not specified                   5687
128 housetype_mode      block of flats                150503
129 housetype_mode                                    154297
130 housetype_mode      terraced house                  1212
131 housetype_mode      specific housing                1499
132 wallsmaterial_mode  Stone, brick                   64815
133 wallsmaterial_mode  Block                           9253
134 wallsmaterial_mode                                156341
135 wallsmaterial_mode  Panel                          66040
136 wallsmaterial_mode  Mixed                           2296
137 wallsmaterial_mode  Wooden                          5362
138 wallsmaterial_mode  Others                          1625
139 wallsmaterial_mode  Monolithic                      1779
140 emergencystate_mode No                            159428
141 emergencystate_mode                               145755
142 emergencystate_mode Yes                             2328

In [5]:
# Practically the empty fields and the XNA values are the missing ones
# so we convert these values to missing
dev[, (cols) := lapply(.SD, function(x) ifelse(x %in% c('XNA',''), '', x))
    , .SDcols = cols]
dev[, (cols) := lapply(.SD, function(x) factor(as.numeric(factor(x)), ordered = F))
    , .SDcols = cols]
# One_hot encoding of categrical variables
dev <- one_hot(dev, naCols=TRUE)
rm('r', 'cols') # cleanup

In [ ]:
# Quickly explore flag variables ----
# Recode the flag_own_car and flag_own_reality to 0/1
dev$flag_own_car <- ifelse(dev$flag_own_car == 'N', as.integer(0), as.integer(1))
dev$flag_own_realty <- ifelse(dev$flag_own_realty == 'N', as.integer(0), as.integer(1))
# Some of them are flags while others are counters
# Let's identify first the flag variables using the metatdata descr
cols <- tolower(descr[substr(Row,1,4) == 'FLAG' | substr(Description,1,4) == 'Flag', ]$Row)
skim(dev[, (cols), with=F])
rm('cols')

In [ ]:
# Quickly explore numeric variables ----
# Our general rule is that if the missing ratio is above 30%
# then we drop the variable
skim_dev_num <- skim_dev[type == 'numeric' & stat %in% c('missing','n'), .(variable, stat, value)]
skim_dev_num <- dcast(skim_dev_num, variable ~ stat)
skim_dev_num[, rat_missing := missing/n]

In [ ]:
# Drop features from the dev sample ----
drop <- c('sk_id_curr'
  ,'fondkapremont_mode'
  ,'flag_cont_mobile'
  ,'flag_mobil'
  # ,'ext_source_1'
  # ,'ext_source_2'
  # ,'ext_source_3'
  , skim_dev_num[rat_missing>0.3,]$variable
)
drop <- unique(drop)
dev[, (drop) := NULL]
rm(drop)

In [ ]:
# Create test sample ----
smpl_size <- floor(0.75 * nrow(dev))
set.seed(12345)
dev_ids <- sample(seq_len(nrow(dev)), size = smpl_size, replace = FALSE)

test <- dev[-dev_ids,]
dev <- dev[dev_ids,]

# Save samples ----
save(test, file = 'stage/test.Rdata')
save(dev, file ='stage/dev.Rdata')